*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings
bin
build
develop-eggs
dist
downloads
eggs
fake-eggs
parts
var
/checkouts/
/lib/
/local/
/include/
/.Python
/pip-selfcheck.json
/buildout.cfg
